<html>
    <head>
        <title>Quotes feed</title>
        <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    </head>
    <body id="main" class="main">
        <h2 style="position: relative; left: 40%;">Quote these quotes !!!</h2>
        <hr style="width:50%; position: relative; left: 0%;">
        <br>
        <div id="content" class="content">
            <% qarrobj.forEach(function(q){ %>
                <h4><%= q.Quote %></h4>
                <strong style="position: relative; left: 50%;"><%= q.Author %></strong>
                <hr>
                <br>
            <%})%>
        </div>
    </body>
</html>